
@{
    //ViewData["Title"] = "About";
}
<html>
<body>
    <div class="container-fluid tm-mt-60">
        <div class="row mb-4">
            <h2 class="col-12 tm-text-primary">
                About Our Website
            </h2>
        </div>
        <div class="row tm-mb-74 tm-row-1640">
            <div class="col-lg-5 col-md-6 col-12 mb-3">
                <img src="~/img/about.png" alt="Image" class="img-fluid">
            </div>
            <div class="col-lg-7 col-md-6 col-12">
                <div class="tm-about-img-text">
                    <p class="m-5">


                        Inspired by a 2011 trip to Paris,
                        from the desire to capture vacation memories that weren’t awkward selfies or blurry photos from strangers,
                        Nicole Smith set out to solve the gap in the market for vacation photography. Two years later,
                        Flytographer was born.
                        Today, our community of 500+ hand-picked professional photographers has captured over 3 million memories across six continents. We believe that memories are the best souvenirs and connecting with a local artist is one of the best ways to experience a new city.


                    </p>

                </div>
            </div>
        </div>



        <div class="container-fluid tm-mt-60">
            <div class="row mb-4">
                <h2 class="col-12 tm-text-primary">
                    Join US
                </h2>
            </div>
            <div class="row tm-mb-74 tm-row-1640">
                <div class="col-lg-5 col-md-6 col-12 mb-3">
                    <img src="~/img/about2.png" alt="Image" class="img-fluid">
                </div>
                <div class="col-lg-7 col-md-6 col-12">
                    <div class="tm-about-img-text">
                        <p class="mb-3">
                            Join our global community of 500+ photographers across six continents.
                            Earn extra income, diversify your portfolio, meet interesting travellers, and join an inclusive, fun, and engaged community of talented photographers. Launched in 2013 as the original global vacation photography company, our focus on quality, customer experience, and fostering a close knit global community has ensured that we remain a leader in this space.
                        </p>

                    </div>
                </div>
            </div>









            <script src="js/plugins.js"></script>
            <script>
                $(window).on("load", function () {
                    $('body').addClass('loaded');
                });
            </script>
</body>
</html>