@model FlowerShop.Models.Order



<h4>Order</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @*<div class="form-group">
                <label asp-for="UserId" class="control-label"></label>
                <select asp-for="UserId" class ="form-control" asp-items="ViewBag.UserId"></select>
            </div>*@
            <div class="form-group">
                <label asp-for="RecevierName" class="control-label"></label>
                <input asp-for="RecevierName" class="form-control" />
                <span asp-validation-for="RecevierName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RecevierNum" class="control-label"></label>
                <input asp-for="RecevierNum" class="form-control" />
                <span asp-validation-for="RecevierNum" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RecevierAddress" class="control-label"></label>
                <input asp-for="RecevierAddress" class="form-control" />
                <span asp-validation-for="RecevierAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BrunshId" class="control-label"></label>
                <select asp-for="BrunshId" class ="form-control" asp-items="ViewBag.BrunshId"></select>
            </div>
            @*<div class="form-group">
                <label asp-for="Order_Date" class="control-label"></label>
                <input asp-for="Order_Date" class="form-control" />
                <span asp-validation-for="Order_Date" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsPaid" /> @Html.DisplayNameFor(model => model.IsPaid)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Issent" /> @Html.DisplayNameFor(model => model.Issent)
                </label>
            </div>*@
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
